*{
  box-sizing: border-box;
}
.doll {
  float: right;
}
body {
  background-image: url("Squid_Games_cryptocurrency_Pixabay_1636099140981_1636099166752mask.webp");
  background-color: rgb(228, 11, 228);
  color: rgb(247, 241, 241);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  /* overflow: hidden; */
}
.figure {
  fill: transparent;
  stroke: rgb(4,115,36);
  stroke-width: 3.5px;
  stroke-linecap: round;
}
.hangman{
  display: none;
}
.word{
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.game-container{
  margin: auto;
  height: 350px;
}
.pops{
  background-color: rgb(255,20,147);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
}
main {
  max-width: 610px;
  margin: auto;
}
title {
  text-align: center;
}
h1 {
  text-align: center;
  margin: 80px;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
.notif p {
  color: white;
  text-decoration: underline;
  margin: 0 0 5px;
}
#word {
  letter-spacing: 10px;
  text-align: center;
  font-size: 24pt;
  color: rgb(255, 255, 153);
  font-weight: bold;
}
button:hover {
  background-color: rgb(255,20,147)
}
.playAgainBtn {
  margin-bottom:5% 
}
button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: rgb(4,115,36);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.genreHidden {
  font-size: ;
}
.gameOver{
  text-align: center;
  font-size: 130px;
  text-shadow: 2px 4px 8px #585858;
  color: rgb(255,20,147);
  display: none;
}
.youWin {
  text-align: center;
  justify-content: center;
  font-size: 130px;
  color: rgb(4,115,36);
  text-shadow: 2px 4px 8px #585858;
  display: none;
}

#guesses {
  text-align: center;
  font-size: 10pt;
  font-weight: bold;
}
.guess:hover {
  background-color: rgb(255,20,147)
}
.guessBtn {
  padding: 10px;
  display: inline-block;
  border: 2px solid;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
  background-color: rgb(4,115,36)
}
.myGuess {
  height: 60px;
  border-radius: 10px;
  padding-top: 5px;
  font-size: 18pt;
  width: 200px;
  padding-left: 10px;
}
